.body {
  padding-top: 101px;
  max-width: 500px;
  margin: 0 auto;
}

.line {
  height: 5px;
  background-color: #F1F1F1
}

.title {
  padding: 15px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #EEEEEE;
  //background-color: #00802E;
  //color: #FFF;
}