.versus_container {
  background-color: #fff;
  padding: 20px;

  .tag_add {
    margin-top: 10px;
  }

  .tag_list {
    //display: flex;
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* 끝에서 바운스 되도록*/
    scroll-snap-type: x mandatory;

    .tag {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size: 11px;
      margin-right: 5px;
    }
  }
}