.info_container {
  background-color: #fff;
  padding: 20px;

  .title {
    font-size: 16px;
    font-weight: 500;
    //padding-top: 20px;
    //padding-right: 20px;
    //padding-left: 20px;
  }

  .address {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    //padding-right: 20px;
    //padding-left: 20px;
    //padding-bottom: 10px;
  }

  .area_list {

  }

  .table {
    //padding-right: 20px;
    //padding-left: 20px;
    //padding-bottom: 20px;
    margin-top: 10px;

    .item {
      display: flex;

      .key {
        color: #777;
        margin-right: 8px;
        font-size: 12px;
      }

      .value {
        color: #222;
        font-size: 12px;
      }
    }
  }
}

.title_container {
  background-color: #fff;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px;

  .title {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .txt_bar {
      margin: 4px 7px 0;
      display: inline-block;
      width: 1px;
      height: 12px;
      background-color: #e5e5e5;
      vertical-align: top;
      text-indent: -9999px;
    }

    .address {
      color: #333;
      font-weight: 400;
      font-size: 14px;
    }

    .info {
      font-size: 12px;
      font-weight: 300;
    }

    .info_bold {
      font-weight: 500;
    }
  }
}
