.filter_container {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;

  .filter_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 14px;
    border: 1px solid #2E92FC !important;
    color: #2E92FC;
  }

  .active {
    //border: 1px solid #fff !important;
    //background-color: #2E92FC;
    color: #FFF;
  }
}